<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hui.vote.mapper.VoteFormMapper">

    <resultMap id="BaseResultMap" type="cn.hui.vote.dal.domain.VoteFormDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="vote_name" property="voteName" jdbcType="VARCHAR" />
        <result column="creator_weibo_id" property="creatorWeiboId" jdbcType="BIGINT" />
        <result column="multi_vote" property="multiVote" jdbcType="INTEGER" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        vote_name,
        creator_weibo_id,
        multi_vote,
        is_deleted,
        gmt_create,
        gmt_modify
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            vote_form
        where
            id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            vote_form
        where
            is_deleted = 0
    </select>

    <!--
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from
            vote_form
        where
            id = #{id,jdbcType=BIGINT}
    </delete>
    -->

    <update id="deleteByPrimaryKey" parameterType="cn.hui.vote.dal.domain.VoteFormDO">
        update
          vote_form
        set
          is_deleted = 1,
          gmt_modify = now()
        where
          id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.hui.vote.dal.domain.VoteFormDO">
        insert into
            vote_form
        (
            <include refid="Base_Column_List"/>
        )
        values (
            #{id,jdbcType=BIGINT},
            #{voteName,jdbcType=VARCHAR},
            #{creatorWeiboId,jdbcType=BIGINT},
            #{multiVote,jdbcType=INTEGER},
            0,
            now(),
            now()
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.hui.vote.dal.domain.VoteFormDO">
        insert into
            vote_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="voteName != null">
                vote_name,
            </if>
            <if test="creatorWeiboId != null">
                creator_weibo_id,
            </if>
            <if test="multiVote != null">
                multi_vote,
            </if>
                gmt_modify
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="voteName != null">
                #{voteName,jdbcType=VARCHAR},
            </if>
            <if test="creatorWeiboId != null">
                #{creatorWeiboId,jdbcType=BIGINT},
            </if>
            <if test="multiVote != null">
                #{multiVote,jdbcType=INTEGER},
            </if>
                now()
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.hui.vote.dal.domain.VoteFormDO">
        update
            vote_form
        <set>
            <if test="voteName != null">
                vote_name = #{voteName,jdbcType=VARCHAR},
            </if>
            <if test="creatorWeiboId != null">
                creator_weibo_id = #{creatorWeiboId,jdbcType=BIGINT},
            </if>
            <if test="multiVote != null">
                multi_vote = #{multiVote,jdbcType=INTEGER},
            </if>
                gmt_modify = now()
        </set>
        where
            id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="cn.hui.vote.dal.domain.VoteFormDO">
        update
            vote_form
        set
            vote_name = #{voteName,jdbcType=VARCHAR},
            creator_weibo_id = #{creatorWeiboId,jdbcType=BIGINT},
            multi_vote = #{multiVote,jdbcType=INTEGER},
            gmt_modify = now()
        where
            id = #{id,jdbcType=BIGINT}
    </update>
</mapper>